@tailwind base;
@tailwind components;
@tailwind utilities;



.main{
  height:100vh;
}

nav{
  @apply p-5 justify-between items-center flex flex-row box-content relative;  
}


.logo_text{
  @apply font-extrabold text-3xl text-gray-600 cursor-pointer hover:underline;
} 

.fill_btn{
  @apply rounded-full bg-gray-600 px-4 py-2 text-white text-base flex justify-center items-center shadow-lg font-light text-base border;
}

.fill_btn:hover{
  @apply bg-white border border-gray-600 text-gray-600 box-content;
}

.outline_btn{
  border:2px solid #6978e3;
  @apply bg-white text-gray-500 box-content rounded-xl px-3 py-2; 
}

.outline_btn:hover{
  @apply bg-gray-100 text-gray-500 ;
}

.profile{
  width:auto;
  height:auto;
  @apply rounded-lg cursor-pointer;
}

.login_profile_block{
  @apply flex gap-3;
}


.blue_gradient {
  @apply bg-gradient-to-r from-indigo-500 to-cyan-500 bg-clip-text text-transparent;
}

.gradient_btn{
  @apply bg-gradient-to-r from-indigo-500 to-purple-500 px-3 rounded-xl text-white;
}


.text_editor_container{
  display: flex;
  padding: 1rem;
  align-items:center;
  flex-direction: column;
  flex:1;
  top: 0;
  background-color: var(--bgColor);
  z-index: 100;
}

.quill {
  height:65vh;
  width:90%;
}

.input_title{
  border-bottom:1px solid #ddd;
  margin-bottom:10px;
  width:90%;
  padding:10px;
  font-size:20px;
  font-weight:300;
  color:#333;
}


.editor_button_group{
  @apply flex gap-3;
}

.editor_btn{
  @apply text-base border-gray-700 px-4 py-1 drop-shadow-md font-extralight;
}
.editor_head_group{
  @apply flex justify-between items-center w-full px-10 my-3;
}

.save_btn {
  @apply text-sky-600 border border-white rounded-lg;
}
.save_btn:hover {
  @apply text-sky-600 border border-gray-200 ;
}

.post_btn{
  @apply text-gray-600 bg-gray-200 rounded-lg;
}

.post_btn:hover{
  @apply text-gray-400 bg-gray-100 rounded-lg;
}

.ql-editor{
  @apply text-base;
}
.create_page{
  @apply flex flex-col justify-center items-center h-full border-t container;
}

.post_list_item{
  @apply flex flex-col justify-center items-start gap-3 py-8 px-20 m-2 border-b mx-3 cursor-pointer;
}

.list_title{
  @apply font-extrabold text-xl;
}

.user_box{
  @apply flex justify-start items-center gap-3 mt-5;
}

.list_creator{
  @apply text-sm text-gray-600 font-light;
}

.head_text{
  font-family: 'SangSangShinb7';
  font-size: 4rem;
  font-weight: 100;
  color: #fff !important;
  padding-bottom:20px;
  font-style:italic;

}

.desc{
  font-size:20px;
  font-weight:100;
  color:#fff;
}

.logo{
  font-weight: 400;
  text-decoration:underline;
} 

.heading_section{
  background:#d0d0d030;
  padding:5rem 4rem;
  cursor:default;
  @apply bg-gradient-to-r from-indigo-400 to-pink-400 mx-3 rounded-lg;
}

.post_detail_page{
  @apply container mx-auto px-4;
}

.post_header{
  @apply bg-gray-100 w-full h-60 flex flex-col justify-center items-start relative px-10;
}

.post_title{
  @apply text-2xl font-semibold text-gray-700;
}

.user_box{
  @apply cursor-pointer;
}

.user_text_box{
 @apply flex flex-col justify-center items-start font-normal text-sm text-gray-500 pb-5;
}

.created_at{
  @apply font-normal text-sm text-gray-500;
}


.detail_content_box{
  @apply border-b;
}

.detail_content{
  @apply p-10
}

.detail_btn{
  @apply px-2
}

.detail_btn:hover{
  @apply underline;
}

.detail_btn_group{
  @apply m-2 flex justify-end gap-3 font-light;
}

.comment_textarea{
  resize:none;
  @apply border w-full h-40 mt-5 p-3 rounded-lg;
}

.comment_area{
  @apply flex flex-col justify-center items-start m-3 mb-10;
}

.comment_register_area{
  @apply flex flex-col justify-center items-end container;
}
.comment_header{
  @apply text-lg font-semibold;
}

.comment_btn{
  @apply text-lg font-semibold bg-gray-500 text-white px-3 py-2 rounded-lg mt-2 mb-2;
}


.comment-delete-btn{
  @apply  font-thin text-sm px-2 py-1 ml-1 rounded-lg;
}
.comment-delete-btn:hover{
  @apply bg-gray-100;
}

.comment-listitem-box{
 @apply flex flex-col border-b w-full px-5 pt-5 ;
}

.comment-listitem-userbox{
  @apply text-sm flex font-light gap-3;
}

.comment-listitem-comment{
  @apply p-2
}
.comment-listitem-date{
  @apply text-sm flex flex-col font-thin;
}

.user-text-infobox{
  @apply flex flex-col;
}

.comment_img{
  @apply rounded-full;
}

.feed_section{
  @apply container flex flex-col justify-center mx-auto;
}

.sch_section{
  @apply flex justify-center items-center border-b-2 pb-5 w-full gap-5 mt-5;
}

.sch_bar{
  @apply border p-4 w-10/12 rounded-lg container mx-auto mt-5
}

.sch_btn{ 
  @apply bg-gray-500 rounded-lg w-20 p-4 text-white;
}


.sch_btn:hover{ 
  @apply bg-gray-400 rounded-lg w-20 p-4 text-white;
}

.nav-menu{
  @apply absolute right-10 bg-white p-2 rounded-lg text-gray-600 font-light flex-col flex gap-3 border-2 border-black;
  top: 5.7rem;
  z-index: 999;
}

.user-manage{
  @apply flex flex-col text-sm font-light border-b-2 py-3 px-4;
}

.menu-text{
  @apply py-2 px-4;
}

.nav-menu-elm{
  @apply cursor-pointer py-2 border-b;
}


.nav-menu-elm:last-child{
  @apply border-0
}

.manage-container{
  @apply container mx-auto;
}
.my-blog-createbox{
  @apply border p-5 rounded-lg m-5
}
.my-blog-navbox{
  @apply border p-5 rounded-lg m-5
}


.blog-info-create{
  @apply flex flex-col justify-center items-center gap-5; 
}

.my-blog-h{
  @apply text-xl pl-2 text-gray-700 border-b pb-2 mb-2;  
}

.blog-create-input{
 @apply border w-full p-3 rounded-lg;
}

.my-blog-listbox{
  @apply flex justify-between gap-2 px-5 py-2 font-thin border-b cursor-pointer;
}

.blog-address{
  @apply text-sm underline font-medium text-gray-500;
}

.my-blog-info{
  @apply flex flex-col
}

.blog-header{
  @apply container mx-auto flex p-10 border-b-2 justify-between items-center border-gray-700 mb-10;
}

.circle_btn{
  @apply p-2 rounded-lg border;
} 
.circle_btn:hover{
  @apply bg-gray-200;
}

.blog-name{
  @apply text-4xl font-semibold cursor-pointer text-gray-700
}


.post-desc{
  @apply font-thin text-lg;
}

.post-nav-btn{
  @apply underline mt-5 cursor-pointer text-gray-700;
}

.blog-pick{
  @apply flex justify-between items-center px-3 py-1 text-gray-600 cursor-pointer;
}

.blog-menu{
  width:150px;
  @apply border flex flex-col rounded-lg relative; 
}

.down-arrow{
  font-size:13px;
}


.pick-option{
  width:150px;
  top:35px; 
  left:0px;
  z-index:999;
  @apply absolute border  px-2 py-1 bg-white border-gray-500 rounded-lg font-light text-gray-600;
}


.pick-option-value{
  width: fit-content;
  @apply cursor-pointer w-full border-b py-1 ;
}

.pick-option-value:last-child{
  @apply border-0;
}


 
.blog-postlist-box{
  @apply w-full h-full flex flex-col gap-3 border-t py-3 cursor-pointer px-2 text-gray-700;
}

.blog-postlist-title{
  @apply text-lg font-semibold 
}

.blog-postlist-date{
  @apply font-thin text-sm
}

.blog-postlist-content{
  @apply text-base ;
}


.blog-postlist{
  @apply container flex flex-col justify-center items-center mx-auto  mt-10  p-2;
}

.total_post_title{
 @apply font-semibold text-xl flex w-full justify-start mb-4 px-3;

}

.blog-no-content{
  @apply border container mx-auto flex flex-col justify-center items-center p-20;
}

.list_preview{
  @apply flex h-full w-full justify-between gap-4;
}

.preview_img{
  @apply rounded-lg; 
}

.recomment-box{
  @apply w-full p-2 rounded-lg flex
}

.recomment-input{
  @apply bg-gray-100 p-2 w-full px-4 rounded-lg;
}

.recomment-btn{
  @apply w-20 bg-gray-400 ml-3 rounded-lg text-white font-light
}

.spinner {
  animation-name: spinner-line-fade-more;
  scale:3.0;
  @apply relative;
  /* 다른 스타일 속성들 */
}

.loading-text{
  top: 50%;
  left: 50%;
  transform: translate(-50%, 120%);
  @apply absolute text-center font-light text-lg;
}

{/**로딩 서클*/}
@keyframes spinner-line-fade-more {
  0%, 100% {
    opacity: 0; /* minimum opacity */
  }
  1% {
    opacity: 1;
  }
}

@keyframes spinner-line-fade-quick {
  0%, 39%, 100% {
    opacity: 0.25; /* minimum opacity */
  }
  40% {
    opacity: 1;
  }
}

@keyframes spinner-line-fade-default {
  0%, 100% {
    opacity: 0.22; /* minimum opacity */
  }
  1% {
    opacity: 1;
  }
}

@keyframes spinner-line-shrink {
  0%, 25%, 100% {
    /* minimum scale and opacity */
    transform: scale(0.5);
    opacity: 0.25;
  }
  26% {
    transform: scale(1);
    opacity: 1;
  }
}


{/**모바일 화면*/}
@media (max-width: 800px) {
  .desktop_btn {
    display:none;
  }
  .head_text{
    font-size:20px;
    color: #f0f0f0 !important;
  }

  .desc{
    @apply text-base;
  }
  .heading_section{
    padding:3rem 2rem;
  }

  .post_list_item{
    padding: 1rem 2rem;
  }
  .spinner {
    scale:2.0
  }
  .blog-no-content{
    @apply mx-auto border p-10 flex items-center w-80;
   }

   .editor_head_group{
     @apply px-5
   }
   
   .post_list_item{
     @apply px-3 pt-3
   }
}

.post_view {
  @apply p-3;
}

.post_view pre {
  padding:10px !important;
  height: 100%;
  white-space: pre-wrap;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  @apply bg-gray-800 rounded-lg text-sm text-white mx-5 overflow-visible text-white m-3;
}


.post_view blockquote {
    @apply text-lg mt-5 border-l-4 border-gray-300 pl-4 text-gray-700;
}

.post_view h1{
  @apply text-4xl;
}

.post_view h2{
  @apply text-3xl;
}

.post_view h3{
  @apply text-2xl;
}


.post_view .ql-font-serif{
  font-family: serif;
}

.post_view .ql-font-monospace{
  font-family: monospace;
}

.post_view p{
  @apply text-base;
}